*{
    box-sizing: border-box;
    font-family: 'Myriad Pro', sans-serif;
}

div{
    visibility: visible;
}

.owl-background{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    min-height: 512px;
    position: relative;
}


.owl-table{
    position: absolute;
    width: 1250px;
    top: 19%;
    left: 50%;
    transform: translate(-50%,0);
}

.owl-table .table{
    width: 1250px;
    margin: 0;
}

.owl-table .table th{
    padding: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    padding: 2px;
}
.owl-table .table td{
    padding: 2px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}